import http from 'http';

http.createServer((require, response) =>{
    console.log('Server is ruuing at port 4000');
    response.writeHead(200, {'Content-type':'text/html;charset=utf-8'});
    response.write('<h1>Hej verden</h1>');
    response.write('<h2>God jul og godt nytår</h2>');
    response.end();
}).listen(4000)  //hvad for en port den skal lytte til